@media (min-width:200px) and (max-width:767px) {
    #navlink {
        display: none !important;
    }

    .navlinks {
        display: none !important;
    }

    .btn {
        display: none !important;
    }

    .mainbutton {
        display: none !important;
    }

    nav {
        justify-content: space-between !important;
        padding: 1rem !important;
        width: 100% !important;
        gap: 7rem !important;
    }

    #mainlogo {
        max-width: 30% !important;
    }

    .hamburger {
        display: block !important;
    }

    .container {
        flex-direction: column !important;
        padding: 5rem 1rem !important;
        gap: 2rem !important;
    }

    #mainheading {
        font-size: 36px !important;
    }

    #mainpara {
        font-size: 16px !important;
    }

    #mainimg {
        max-width: 100% !important;
    }
    #firstsectionmainheading{
        font-size: 28px !important;
        padding: 0 1rem !important;
    }
    #firstsectionmainpara{
        font-size: 16px !important;
        padding: 0 1rem !important;
    }
    #firstsectionmainpara br{
        display: none !important;
    }
    .cards {
        padding: 0 1rem !important;
    }

    .card1,
    .card2,
    .card3,
    .card4,
    .card5,
    .card6{
        height: 452px !important;
    }
     #card1para {
        font-size: 16px !important;
    }

    #card2para1,
    #card2para2,
    #card2para3 {
        font-size: 16px !important;
    }

    #card3para1,
    #card3para2 {
        font-size: 16px !important;
    }

    #card4para {
        font-size: 16px !important;
    }

    #card5para1,
    #card5para2 {
        font-size: 16px !important;
    }

    #card6para {
        font-size: 16px !important;
    }
    .ratingcard{
        width: 280px !important;
    }
    #ratingcardimg{
        max-width: 26% !important;
    }
    #groupimg{
        max-width: 100% !important;
    }
    #sixthsection{
        padding: 1rem !important;
    }
    .bigbox{
        flex-direction: column !important;
        padding: 2rem 1rem !important;
        width: 100% !important;
        gap: 2rem !important;
    }
    #boxmainheading{
        font-size: 40px !important;
    }
    .container4{
        padding: 1rem !important;
        justify-content: flex-start !important;
        flex-wrap: wrap !important;
    }
    .footerlogoimg{
        width: 30% !important;
    }
    .bms{
        width: 30% !important;
    }
    .industries{
        width: 30% !important;
    }
}

@media (min-width:768px) and (max-width:1023px) {
    #navlink {
        display: none !important;
    }

    .navlinks {
        display: none !important;
    }

    .btn {
        display: none !important;
    }

    .mainbutton {
        display: none !important;
    }

    nav {
        justify-content: space-between !important;
        padding: 1rem 5rem !important;
        width: 100% !important;
        gap: 7rem !important;
    }

    #mainlogo {
        max-width: 13% !important;
    }

    .hamburger {
        display: block !important;
    }

    .container {
        padding: 8rem 5rem !important;
    }

    #mainheading {
        font-size: 36px !important;
    }

    #mainpara {
        font-size: 17px !important;
    }

    #mainpara br {
        display: none !important;
    }
    .cards{
        padding: 0 1.2rem !important;
    }
     #card1para {
        font-size: 16px !important;
    }

    #card2para1,
    #card2para2,
    #card2para3 {
        font-size: 16px !important;
    }

    #card3para1,
    #card3para2 {
        font-size: 16px !important;
    }

    #card4para {
        font-size: 16px !important;
    }

    #card5para1,
    #card5para2 {
        font-size: 16px !important;
    }

    #card6para {
        font-size: 16px !important;
    }
    .ratingcard{
        height: 260px !important;
    }
    #sixthsection{
        padding: 5rem 5rem 0 !important;
    }
    .bigbox{
        padding: 1rem !important;
    }
    #boxmainheading{
        font-size: 30px !important;
    }
    .container4{
        padding: 5rem !important;
        justify-content: flex-start !important;
        flex-wrap: wrap !important;
    }

}
    @media(min-width: 1024px) and (max-width: 1200px){
    nav{
        padding: 1rem 2rem !important;
    }
    #card1para {
        font-size: 17px !important;
    }

    #card2para1,
    #card2para2,
    #card2para3 {
        font-size: 17px !important;
    }

    #card3para1,
    #card3para2 {
        font-size: 17px !important;
    }

    #card4para {
        font-size: 17px !important;
    }

    #card5para1,
    #card5para2 {
        font-size: 17px !important;
    }

    #card6para {
        font-size: 17px !important;
    }
    .container{
        padding: 8rem 5rem !important;
    }
    #sixthsection{
        padding: 0 5rem !important;
    }
    .container4{
        padding: 8rem 3rem 5rem !important;
    }
    .services{
        font-size: 12px !important;
    }
    .bms{
        font-size: 12px !important;
    }
    .assurance{
        font-size: 12px !important;
    }
    .industries{
        font-size: 12px !important;
    }
    .possystem{
        font-size: 12px !important;
    }
}
@media (min-width: 1441px) and (max-width: 2560px) {
    #navlink a{
        font-size: 23px !important;
    }
    .btn{
        padding: 16px 58px !important;
        font-size: 22px !important;
    }
    .container{
        padding: 8 15rem !important;
        justify-content: center !important;
        gap: 20rem !important;
    }
    #mainheading{
        font-size: 60px !important;
    }
    #mainpara{
        font-size: 26px !important;
    }
    .cards{
        padding: 0 10rem !important;
    }
    #firstsectionmainheading{
        font-size: 55px !important;
    }
    #firstsectionmainpara{
        font-size: 26px !important;
    }
    .card1, .card2, .card3, .card4, .card5, .card6 {
        width: 510px !important;
        height: 640px !important;
    }
    #card1heading,
    #card2heading,
    #card3heading,
    #card4heading,
    #card5heading,
    #card6heading{
        font-size: 30px !important;
    }
    #card1para{
        font-size: 26px !important;
    }
    #card2para1,
    #card2para2,
    #card3para3{
        font-size: 26px !important;
    }
    #card3para1,
    #card3para2{
        font-size: 26px !important;
    }
    #card4para,
    #card5para1,
    #card5para2,
    #card6para{
        font-size: 26px !important;
    }
    .container7{
        padding: 0 15rem !important;
        gap: 15rem !important;
    }
    .ratingcard{
        width: 1000px !important;
        height: 440px !important;
    }
    #cardpersonname{
        font-size: 30px !important;
    }
    #cardpersonpara{
        font-size: 26px !important;
    }
    #cardpara{
        font-size: 24px !important;
    }
    .groupimage{
        width: 70% !important;
    }
    #groupimg{
        max-width: 100% !important;
    }
    #sixthsection{
        padding: 0 18rem !important;
    }
    .bigbox{
        padding: 5rem 10rem !important;
    }
    #boxmainpara1{
        font-size: 26px !important;
    }
    #boxmainpara2{
        font-size: 26px !important;
    }
    .footerlogoimg{
        width: 15% !important;
    }
    #footerlogo{
        max-width: 50% !important;
    }
    .services{
        font-size: 20px !important;
        width: 15% !important;
    }
    #services{
        font-size: 22px !important;
    }
    .bms{
        width: 15% !important;
        font-size: 20px !important;
    }
    #bms{
        font-size: 22px !important;
    }
    .assurance{
        width: 15% !important;
        font-size: 20px !important;
    }
    #assurance{
        font-size: 22px !important;
    }
    .industries{
        width: 15% !important;
        font-size: 20px !important;
    }
    #industries{
        font-size: 22px !important;
    }
    .possystem{
        width: 15% !important;
        font-size: 20px !important;
    }
    #possystem{
        font-size: 22px !important;
    }
} 
html,body{
    overflow-x: hidden;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* outline: 2px solid red !important; */
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 5rem;
    border-bottom: 2px solid #F0F1FF;
}

#mainlogo {
    max-width: 10%;
    height: auto;
    display: block;
}

#navlink {
    display: flex;
    gap: 2rem;
    list-style: none;
}

#navlink a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #090F4E;
}

.btn {
    padding: 12px 18px;
    border: none;
    background-color: #084CFF;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.hamburger {
    display: none;
    font-size: 1.5rem;
}
#sidebarlinks li{
    list-style: none;
    border-bottom: 1px solid rgb(164, 165, 171);
    padding: 1rem;
}
#sidebarlinks a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #090F4E;
    margin-bottom: 1rem;
}
.sidebar{
    position: fixed;
    display:  none;
    justify-content: flex-start;
    gap: 2rem;
    width: 100%;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 999;
    background-color: white;
    flex-direction: column;
    overflow-y: auto;
    padding: 2rem 0;
}
.hidebtn{
    padding: 0 1rem;
    font-size: 1.5rem;
}
.sidebarbutton{
    padding: 0 1rem;
}
.sidebarbtn{
    padding: 12px 18px;
    border: none;
    background-color: #084CFF;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 16px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8rem;
}

#mainimg {
    max-width: 40%;
    height: auto;
}

#mainheading {
    font-size: 48px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
}

#mainpara {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgba(84, 83, 83, 1);
}

#firstsection {
    padding: 4rem 0;
    background-color: rgba(240, 241, 251, 1);
}

#firstsectionmainheading {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

#firstsectionmainpara {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 113.99999999999999%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0 5rem;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
    width: 350px;
    height: 512px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;

}

#card1img,
#card2img,
#card3img,
#card4img,
#card4img,
#card5img,
#card6img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#card1heading {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 23.77px;
    letter-spacing: -0.37px;
    text-align: center;
    vertical-align: middle;
    margin-top: 3rem;

}

#card1para {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 1rem;
    padding: 0 1rem;

}

#card2heading {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 23.77px;
    letter-spacing: -0.37px;
    text-align: center;
    vertical-align: middle;
    margin-top: 3rem;

}

.card2option1 {
    display: flex;
    padding: 0 1rem;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;

}

#card2para1 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0px;
    color: rgba(84, 83, 83, 1);

}

.card2option1 i {
    font-size: 6px;
    color: rgba(84, 83, 83, 1);
}

.card2option2 {
    display: flex;
    padding: 0 1rem;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.card2option2 i {
    font-size: 6px;
    color: rgba(84, 83, 83, 1);
}

#card2para2 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0px;
    color: rgba(84, 83, 83, 1);

}

.card2option3 {
    display: flex;
    padding: 0 1rem;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.card2option3 i {
    font-size: 6px;
    color: rgba(84, 83, 83, 1);
}

#card2para3 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0px;
    color: rgba(84, 83, 83, 1);

}

#card3heading {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 23.77px;
    letter-spacing: -0.37px;
    text-align: center;
    vertical-align: middle;
    margin-top: 3rem;

}

.card3option1 {
    display: flex;
    padding: 0 1rem;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.card3option1 {
    font-size: 6px;
    color: rgba(84, 83, 83, 1);
}

#card3para1 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;

}

.card3option2 {
    display: flex;
    padding: 0 1rem;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.card3option2 i {
    font-size: 6px;
    color: rgba(84, 83, 83, 1);
}

#card3para2 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
    color: rgba(84, 83, 83, 1);
}

#card4heading {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 23.77px;
    letter-spacing: -0.37px;
    text-align: center;
    vertical-align: middle;
    margin-top: 3rem;
}

#card4para {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
    color: rgba(84, 83, 83, 1);
    text-align: center;
    padding: 1rem;
}

#card5heading {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 23.77px;
    letter-spacing: -0.37px;
    text-align: center;
    vertical-align: middle;
    margin-top: 3rem;
    padding: 0 1rem;
}

.card5option1 {
    display: flex;
    padding: 0 1rem;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem
}

.card5option1 i {
    font-size: 6px;
    color: rgba(84, 83, 83, 1);
}

#card5para1 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
    color: rgba(84, 83, 83, 1);
}

.card5option2 {
    display: flex;
    padding: 0 1rem;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem
}

.card5option2 i {
    font-size: 6px;
    color: rgba(84, 83, 83, 1);
}

#card5para2 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
    color: rgba(84, 83, 83, 1);
}

#card6heading {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 23.77px;
    letter-spacing: -0.37px;
    text-align: center;
    vertical-align: middle;
    margin-top: 3rem;
    padding: 0 1rem;
}

#card6para {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
    color: rgba(84, 83, 83, 1);
    text-align: center;
    padding: 1rem;
}
#fifthsection{
    padding: 5rem 0;
}
.container7{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8rem;
}
.ratingcard {
    width: 490px;
    height: 330px;
    border-radius: 10px;
    border: 1px solid rgba(217, 217, 217, 1);
    padding: 2rem 1.5rem;
}
#ratingcardimg{
    max-width: 13%;
    height: auto;
    display: block;
    border-radius: 132px;
    margin-bottom: .5rem;
}
#cardpersonname{
    font-size: 15px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: rgba(38, 46, 38, 1);
    margin-bottom: .2rem;
}
#cardpersonpara{
    font-size: 15.4px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: rgba(111, 111, 111, 1);
}
#starsimg{
    max-width: 100%;
    display: block;
    height: auto;
    margin-top: 1rem;
}
#cardpara{
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    margin-top: 2rem;
    color: rgba(111, 111, 111, 1);
}
#groupimg{
    max-width: 90%;
    height: auto;
    display: block;
}
#sixthsection{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #090F4E 50%);
    padding: 0 10rem;

}
.bigbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem;
    gap: 10rem;
    background-color: rgba(41, 63, 204, 1);
    border-radius: 29.49px;
}
#container3mainimage{
    max-width: 120%;
    height: auto;
    display: block;
    border-radius: 132px;
}
#boxmainheading{
    font-size: 57.3px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}
#boxmainpara1{
    font-size: 15.4px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}
#boxmainpara2{
    font-size: 15.4px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}
.calculatebtn{
    padding: 12px 18px;
    border: none;
    border-radius: 8.04px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgba(41, 63, 204, 1);
    margin-top: 2rem;
    cursor: pointer;
}
footer{
    border-top: 1px solid rgba(128, 128, 128, 0.429);
    background-color: rgba(9, 15, 78, 1);
}
.container4{
    padding: 8rem 6rem 5rem;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 4rem;
}
.footerlogoimg{
    width: 20%;
}
#footerlogo{
    max-width: 100%;
    display: block;
    height: auto;
}
.services{
    width: 25%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
}
#services{
    font-weight: 400;
    font-size: 14px;
}
#servicep1,
#servicep2,
#servicep3,
#servicep4,
#servicep5{
    margin-top: 1rem;
}
.bms{
    width: 20%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
}
#bms{
    font-size: 14px;
    font-weight: 400;
}
#bmsp1,
#bmsp2,
#bmsp3,
#bmsp4{
    margin-top: 1rem;
}
.assurance{
    width: 15%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
}
#assurance{
    font-size: 14px;
    font-weight: 400;
}
#assurancep1,
#assurancep2,
#assurancep3,
#assurancep4{
    margin-top: 1rem;
}
.industries{
    width: 15%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
}
#industries{
    font-size: 14px;
    font-weight: 400;
}
#industriesp1,
#industriesp2,
#industriesp3,
#industriesp4{
    margin-top: 1rem;
}
.possystem{
    width: 15%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
}
#possystem{
    font-size: 14px;
    font-weight: 400;
}
#possystemp1,
#possystemp2{
    margin-top: 1rem;
}