@media (min-width: 200px) and (max-width: 767px) {
    #navlink {
        display: none !important;
    }

    .navlinks {
        display: none !important;
    }

    .btn {
        display: none !important;
    }

    .mainbutton {
        display: none !important;
    }

    nav {
        justify-content: space-between !important;
        padding: 1rem !important;
        width: 100% !important;
        gap: 7rem !important;
    }
    .mainlogoimg{
        width: 25% !important;
    }
    #mainlogo {
        max-width: 100% !important;
    }

    .hamburger {
        display: block !important;
    }

    .backbutton a {
        padding: 3rem 1rem 1rem !important;
    }

    .container {
        flex-direction: column !important;
        padding: 3rem 1rem !important;
    }

    #firstcolumnmainheading,
    #secondcolumnmainheading {
        font-size: 18px !important;
    }

    #fullname,
    #fullnamepara,
    #mobnumber,
    #mobnumberpara,
    #email,
    #emailpara,
    #company,
    #companypara,
    #planfor,
    #planforpara,
    #maternity,
    #maternitypara,
    #category,
    #categorypara {
        font-size: 16px !important;
    }

    .thirdcolumn {
        width: 100% !important;
    }

    #thirdcolumnmainimage {
        max-width: 100% !important;
    }

    .container1 {
        flex-direction: column !important;
        padding: 0 1rem 5rem !important;
        gap: 2rem !important;
    }

    .boxes {
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }

    .secondoption {
        display: flex !important;
        justify-content: center !important;
        flex-direction: column !important;
        align-items: center !important;
    }
    #thirdsection{
        padding: 0 1rem 5rem !important;
    }
    .container2{
        flex-direction: column !important;
    }
    .onecolumn{
        width: 100% !important;
    }
    #onecolumnmainheading{
        line-height: 40px !important;
    }
    #onecolumnmainheading2{
        margin: 2rem 0 !important;
    }
    .flexbox{
        flex-direction: column-reverse !important;
    }
    .twocolumn{
        padding: 1rem !important;
        display: flex !important;
        justify-content: center !important;
        align-items:  center !important;
    }
    .container7{
        padding: 0 1rem !important;
        flex-direction: column !important;
        gap: 2rem !important;
    }
    .ratingcard{
        width: 100% !important;
    }
    #ratingcardimg{
        max-width: 26% !important;
    }
    #groupimg{
        max-width: 100% !important;
    }
    #sixthsection{
        padding: 1rem !important;
    }
    .bigbox{
        flex-direction: column !important;
        padding: 2rem 1rem !important;
        width: 100% !important;
        gap: 2rem !important;
    }
    #boxmainheading{
        font-size: 40px !important;
    }
    .container4{
        padding: 1rem !important;
        justify-content: flex-start !important;
        flex-wrap: wrap !important;
    }
    .footerlogoimg{
        width: 30% !important;
    }
    .bms{
        width: 30% !important;
    }
    .industries{
        width: 30% !important;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {
    #navlink {
        display: none !important;
    }

    .navlinks {
        display: none !important;
    }

    .btn {
        display: none !important;
    }

    .mainbutton {
        display: none !important;
    }

    nav {
        justify-content: space-between !important;
        padding: 1rem 5rem !important;
        width: 100% !important;
        gap: 7rem !important;
    }
    .mainlogoimg{
        width: 15% !important;
    }
    #mainlogo {
        max-width: 100% !important;
    }

    .hamburger {
        display: block !important;
    }
    .sidebar{
        width: 50% !important;
    }

    .backbutton a {
        padding: 3rem 0rem 0 3rem !important;
    }

    .container {
        padding: 5rem 3rem !important;
    }

    #firstcolumnmainheading,
    #secondcolumnmainheading {
        font-size: 18px !important;
    }

    #fullname,
    #fullnamepara,
    #mobnumber,
    #mobnumberpara,
    #email,
    #emailpara,
    #company,
    #companypara,
    #planfor,
    #planforpara,
    #maternity,
    #maternitypara,
    #category,
    #categorypara {
        font-size: 16px !important;
    }
    .container1{
        padding: 0 3rem 5rem !important;
    }
    #thirdsection{
        padding: 0 3rem 5rem !important;
    }
    .container2{
        flex-wrap: wrap !important;
    }
    .onecolumn{
        margin-bottom: 2rem !important;
    }
    #onecolumnmainheading{
        line-height: 40px !important;
    }
    .container7{
        padding: 0 3rem !important;
        gap: 2rem !important;
    }
    .ratingcard{
        height: 260px !important;
    }
    #sixthsection{
        padding: 0rem 5rem 0 !important;
    }
    .bigbox{
        padding: 3rem 1rem !important;
    }
    #boxmainheading{
        font-size: 30px !important;
    }
    .container4{
        padding: 5rem !important;
        justify-content: flex-start !important;
        flex-wrap: wrap !important;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    nav {
        padding: 1rem 3rem !important;
    }
    .container1{
        padding: 0 7rem 5rem !important;
    }
    #thirdsection{
        padding: 0 7rem 5rem !important;
    }
    #onecolumnmainheading{
        line-height: 40px !important;
    }
    .container7{
        padding: 0 5rem !important;
    }
    #sixthsection{
        padding: 0 5rem !important;
    }
    .container4{
        padding: 8rem 3rem 5rem !important;
    }
    .services{
        font-size: 12px !important;
    }
    .bms{
        font-size: 12px !important;
    }
    .assurance{
        font-size: 12px !important;
    }
    .industries{
        font-size: 12px !important;
    }
    .possystem{
        font-size: 12px !important;
    }
}
@media (min-width: 1800px) and (max-width: 2560px){
    #navlink a{
        font-size: 23px !important;
    }
    .btn{
        padding: 16px 58px !important;
        font-size: 22px !important;
    }
    .backbutton a{
        padding: 3rem 0rem 0 18rem !important;
    }
    .backbutton i{
        font-size: 22px !important;
    }
    #backbtnpara{
        font-size: 26px !important;
    }
    .container{
        padding: 5rem 15rem !important;
        gap: 15rem !important;
    }
    #firstcolumnmainheading{
        font-size: 40px !important;
    }
    #fullname{
        font-size: 26px !important;
    }
    #fullnamepara{
        font-size: 26px !important;
    }
    #mobnumber,
    #mobnumberpara,
    #email,
    #emailpara,
    #company,
    #companypara{
        font-size: 26px !important;
    }
    #secondcolumnmainheading{
        font-size: 40px !important;
    }
    #planfor,
    #planforpara,
    #maternity,
    #maternitypara,
    #category,
    #categorypara{
        font-size: 26px !important;
    }
    #thirdcolumnmainimage{
        max-width: 120% !important;
    }
    .container1{
        padding: 0 15rem 5rem !important;
    }
    #mainheading{
        font-size: 40px !important;
    }
    .box1, .box2{
        width: 196px !important;
        height: 129px !important;
    }
    #box1heading,
    #box2heading{
        font-size: 26px !important;
    }
    #box1para,
    #box2para{
        font-size: 24px !important;
    }
    #thirdsection{
        padding: 0 15rem 5rem !important;
    }
    #thirdsectionmainheading{
        font-size: 40px !important;
    }
    #thirdsectionpara{
        font-size: 26px !important;
    }
    .flexoption i{
        font-size: 24px !important;
    }
    .container2{
        padding: 5rem 0rem !important;
        justify-content: center !important;
        gap: 10rem !important;
    }
    #onecolumnmainheading{
        font-size: 40px !important;
    }
    #onecolumnmainheading{
        font-size: 40px !important;
    }   
    #twocolumnmainimg{
        max-width: 100% !important;
    }
    #threecolumnmainheading1{
        font-size: 30px !important;
    }
    #threecolumnmainheading2{
        font-size: 40px !important;
    }
    .lastbtn{
        padding: 18px 58px !important;
        font-size: 26px !important;
    }
    .container7{
        padding: 0 15rem !important;
        gap: 15rem !important;
    }
    .ratingcard{
        width: 1000px !important;
        height: 440px !important;
    }
    #cardpersonname{
        font-size: 30px !important;
    }
    #cardpersonpara{
        font-size: 26px !important;
    }
    #cardpara{
        font-size: 24px !important;
    }
    .groupimage{
        width: 70% !important;
    }
    #groupimg{
        max-width: 100% !important;
    }
    #sixthsection{
        padding: 0 18rem !important;
    }
    .bigbox{
        padding: 5rem 10rem !important;
    }
    #boxmainpara1{
        font-size: 26px !important;
    }
    #boxmainpara2{
        font-size: 26px !important;
    }
    .footerlogoimg{
        width: 15% !important;
    }
    #footerlogo{
        max-width: 50% !important;
    }
    .services{
        font-size: 20px !important;
        width: 15% !important;
    }
    #services{
        font-size: 22px !important;
    }
    .bms{
        width: 15% !important;
        font-size: 20px !important;
    }
    #bms{
        font-size: 22px !important;
    }
    .assurance{
        width: 15% !important;
        font-size: 20px !important;
    }
    #assurance{
        font-size: 22px !important;
    }
    .industries{
        width: 15% !important;
        font-size: 20px !important;
    }
    #industries{
        font-size: 22px !important;
    }
    .possystem{
        width: 15% !important;
        font-size: 20px !important;
    }
    #possystem{
        font-size: 22px !important;
    }
}
html,body{
    overflow-x: hidden;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 5rem;
    border-bottom: 2px solid #F0F1FF;
}
.mainlogoimg{
    width: 10%;
}
#mainlogo {
    max-width: 100%;
    height: auto;
    display: block;
}

#navlink {
    display: flex;
    gap: 2rem;
    list-style: none;
}

#navlink a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #090F4E;
}

.btn {
    padding: 12px 18px;
    border: none;
    background-color: #084CFF;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.hamburger {
    display: none;
    font-size: 1.5rem;
}
#sidebarlinks li{
    list-style: none;
    border-bottom: 1px solid rgb(164, 165, 171);
    padding: 1rem;
}
#sidebarlinks a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #090F4E;
    margin-bottom: 1rem;
}
.sidebar{
    position: fixed;
    display:  none;
    justify-content: flex-start;
    gap: 2rem;
    width: 100%;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 999;
    background-color: white;
    flex-direction: column;
    overflow-y: auto;
    padding: 2rem 0;
}
.hidebtn{
    padding: 0 1rem;
    font-size: 1.5rem;
}
.sidebarbutton{
    padding: 0 1rem;
}
.sidebarbtn{
    padding: 12px 18px;
    border: none;
    background-color: #084CFF;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 16px;
}
.backbutton a {
    display: flex;
    align-items: center;
    padding: 3rem 0rem 0 10rem;
    text-decoration: none;
    color: rgba(30, 30, 30, 1);
    gap: .5rem;
    width: 1%;
}

#backbtnpara {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.container {
    display: flex;
    justify-content: center;
    padding: 5rem 7rem;
    gap: 5rem;
}

#firstcolumnmainheading {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: capitalize;

}

#secondcolumnmainheading {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: capitalize;
}

.thirdcolumn {
    width: 30%;
}

#thirdcolumnmainimage {
    max-width: 100%;
    height: auto;
}

#fullname {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 1rem;

}

#fullnamepara {
    margin-top: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(187, 188, 190, 1);

}

#mobnumber {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 1rem;
}

#mobnumberpara {
    margin-top: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(187, 188, 190, 1);
}

#email {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 1rem;
}

#emailpara {
    margin-top: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(187, 188, 190, 1);
}

#company {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 1rem;
}

#companypara {
    margin-top: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(187, 188, 190, 1);
}

#planfor {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 1rem;
}

#planforpara {
    margin-top: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(187, 188, 190, 1);
}

#maternity {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 1rem;
}

#maternitypara {
    margin-top: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(187, 188, 190, 1);
}

#category {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 1rem;
}

#categorypara {
    margin-top: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(187, 188, 190, 1);
}

.container1 {
    display: flex;
    align-items: center;
    padding: 0 10rem 5rem;
    gap: 7rem;
}

#mainheading {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.boxes {
    display: flex;
    gap: 4rem;
}

.box1,
.box2 {
    width: 156px;
    height: 109px;
    border: 2px solid rgba(41, 63, 204, 1);
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;

}

#box1heading,
#box2heading {
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgba(41, 63, 204, 1);
    padding: 1rem;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

#box1para,
#box2para {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    padding: 1rem;

}

#thirdsection {
    padding: 0 10rem 5rem;
}

#thirdsectionmainheading {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: capitalize;

}

.flexoption {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 1rem;
}

#thirdsectionpara {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 23.56px;
    letter-spacing: -0.28px;
    vertical-align: middle;
}

.flexoption i {
    font-size: 18px;
}

.container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.onecolumn{
    width: 40%;
}
#onecolumnmainheading {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-style: Extra Bold;
    font-size: 36px;
    line-height: 23.56px;
    letter-spacing: -0.28px;
    vertical-align: middle;
    margin-bottom: 1rem;
    color: rgba(41, 63, 204, 1);
}

.flexbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#onecolumnmainimg {
    max-width: 50%;
    height: auto;
}

#onecolumnmainheading2 {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-style: Extra Bold;
    font-size: 36px;
    line-height: 23.56px;
    letter-spacing: -0.28px;
    vertical-align: middle;
    color: rgba(41, 63, 204, 1);

}

#twocolumnmainimg {
    max-width: 80%;
    height: auto;
}

#threecolumnmainheading1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

#threecolumnmainheading2 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(41, 63, 204, 1);
    margin-bottom: 1rem;
}

.lastbtn {
    padding: 12px 48px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 14px;
    line-height: 23.56px;
    letter-spacing: -0.28px;
    vertical-align: middle;
    color: white;
    border-radius: 9px;
    background-color: rgba(0, 72, 254, 1);
    border: none;
    cursor: pointer;
}
#fifthsection{
    padding: 5rem 0;
}
.container7{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8rem;

}
.ratingcard {
    width: 490px;
    height: 330px;
    border-radius: 10px;
    border: 1px solid rgba(217, 217, 217, 1);
    padding: 2rem 1.5rem;
}
#ratingcardimg{
    max-width: 13%;
    height: auto;
    display: block;
    border-radius: 132px;
    margin-bottom: .5rem;
}
#cardpersonname{
    font-size: 15px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: rgba(38, 46, 38, 1);
    margin-bottom: .2rem;
}
#cardpersonpara{
    font-size: 15.4px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: rgba(111, 111, 111, 1);
}
#starsimg{
    max-width: 100%;
    display: block;
    height: auto;
    margin-top: 1rem;
}
#cardpara{
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    margin-top: 2rem;
    color: rgba(111, 111, 111, 1);
}
#groupimg{
    max-width: 90%;
    height: auto;
    display: block;
}
#sixthsection{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #090F4E 50%);
    padding: 0 10rem;

}
.bigbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem;
    gap: 10rem;
    background-color: rgba(41, 63, 204, 1);
    border-radius: 29.49px;
}
#container3mainimage{
    max-width: 120%;
    height: auto;
    display: block;
    border-radius: 132px;
}
#boxmainheading{
    font-size: 57.3px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}
#boxmainpara1{
    font-size: 15.4px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}
#boxmainpara2{
    font-size: 15.4px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}
.calculatebtn{
    padding: 12px 18px;
    border: none;
    border-radius: 8.04px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgba(41, 63, 204, 1);
    margin-top: 2rem;
    cursor: pointer;
}
footer{
    border-top: 1px solid rgba(128, 128, 128, 0.429);
    background-color: rgba(9, 15, 78, 1);
}
.container4{
    padding: 8rem 6rem 5rem;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 4rem;
}
.footerlogoimg{
    width: 20%;
}
#footerlogo{
    max-width: 100%;
    display: block;
    height: auto;
}
.services{
    width: 25%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
}
#services{
    font-weight: 400;
    font-size: 14px;
}
#servicep1,
#servicep2,
#servicep3,
#servicep4,
#servicep5{
    margin-top: 1rem;
}
.bms{
    width: 20%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
}
#bms{
    font-size: 14px;
    font-weight: 400;
}
#bmsp1,
#bmsp2,
#bmsp3,
#bmsp4{
    margin-top: 1rem;
}
.assurance{
    width: 15%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
}
#assurance{
    font-size: 14px;
    font-weight: 400;
}
#assurancep1,
#assurancep2,
#assurancep3,
#assurancep4{
    margin-top: 1rem;
}
.industries{
    width: 15%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
}
#industries{
    font-size: 14px;
    font-weight: 400;
}
#industriesp1,
#industriesp2,
#industriesp3,
#industriesp4{
    margin-top: 1rem;
}
.possystem{
    width: 15%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
}
#possystem{
    font-size: 14px;
    font-weight: 400;
}
#possystemp1,
#possystemp2{
    margin-top: 1rem;
}