@media (min-width:200px) and (max-width:767px) {
    #navlink {
        display: none !important;
    }

    .navlinks {
        display: none !important;
    }

    .btn {
        display: none !important;
    }

    .mainbutton {
        display: none !important;
    }

    nav {
        justify-content: space-between !important;
        padding: 1rem !important;
        width: 100% !important;
        gap: 7rem !important;
    }

    #mainlogo {
        max-width: 30% !important;
    }

    .hamburger {
        display: block !important;
        font-size: 1.5rem !important;
    }

    header {
        background-position: center !important;
    }

    #mainheading {
        font-size: 36px !important;
    }

    #mainheading i {
        display: none !important;
    }

    #mainpara {
        font-size: 16px !important;
    }

    #mainpara i {
        display: none !important;
    }

    #linkbtn {
        padding: 10px 30px !important;
        font-size: 14px !important;
    }

    #linkpara {
        font-size: 16px !important;
    }

    .container {
        flex-direction: column !important;
        padding: 0 1rem !important;
    }

    .maintext {
        padding: 5rem 1rem !important;
    }   
    .sections{
        flex-direction: column !important;
    }
    .box1,
    .box2,
    .box3,
    .box4 {
        width: 100% !important;
    }

    #box1para,
    #box2para,
    #box3para,
    #box4para {
        font-size: 16px !important;
    }
    .ratingcard{
        width: 280px !important;
    }
    #ratingcardimg{
        max-width: 26% !important;
    }
    #groupimg{
        max-width: 100% !important;
    }
    #sixthsection{
        padding: 1rem !important;
    }
    .bigbox{
        flex-direction: column !important;
        padding: 2rem 1rem !important;
        width: 100% !important;
        gap: 2rem !important;
    }
    #boxmainheading{
        font-size: 40px !important;
    }
    .container4{
        padding: 1rem !important;
        justify-content: flex-start !important;
        flex-wrap: wrap !important;
    }
    .footerlogoimg{
        width: 30% !important;
    }
    .bms{
        width: 30% !important;
    }
    .industries{
        width: 30% !important;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    #navlink {
        display: none !important;
    }

    .navlinks {
        display: none !important;
    }

    .btn {
        display: none !important;
    }

    .mainbutton {
        display: none !important;
    }

    nav {
        justify-content: space-between !important;
        padding: 1rem 5rem !important;
        width: 100% !important;
        gap: 7rem !important;
    }

    #mainlogo {
        max-width: 13% !important;
    }

    .hamburger {
        display: block !important;
    }
    .sidebar{
        width: 50% !important;
    }
    header {
        background-position: right !important;
    }

    .maintext {
        padding: 10rem 5rem !important;
    }

    .container {
        flex-direction: column !important;
        padding: 0 5rem !important;
    }

    #firstsectionmainpara {
        font-size: 16px !important;
    }
    .sections{
        gap: 1rem !important;
    }
    #box1para,
    #box2para,
    #box3para,
    #box4para {
        font-size: 16px !important;
    }
    .ratingcard{
        height: 260px !important;
    }
    #sixthsection{
        padding: 5rem 5rem 0 !important;
    }
    .bigbox{
        padding: 1rem !important;
    }
    #boxmainheading{
        font-size: 30px !important;
    }
    .container4{
        padding: 5rem !important;
        justify-content: flex-start !important;
        flex-wrap: wrap !important;
    }

}

@media (min-width: 1024px) and (max-width: 1200px) {
    nav{
        padding: 1rem 2rem !important;
    }
    .maintext{
        padding: 10rem 5rem !important;
    }
    .sections{
        gap: 1rem !important;
    }
    .box1, .box2, .box3, .box4{
        width: 279px !important;
    }
    #box1para,
    #box2para,
    #box3para,
    #box4para{
        font-size: 16px !important;
    }
    #firstsectionmainpara{
        font-size: 17px !important;
    }
    #sixthsection{
        padding: 0 5rem !important;
    }
    .container4{
        padding: 8rem 3rem 5rem !important;
    }
    .services{
        font-size: 12px !important;
    }
    .bms{
        font-size: 12px !important;
    }
    .assurance{
        font-size: 12px !important;
    }
    .industries{
        font-size: 12px !important;
    }
    .possystem{
        font-size: 12px !important;
    }
}
@media (min-width: 1441px) and (max-width: 2560px){
    #navlink a{
        font-size: 23px !important;
    }
    .btn{
        padding: 16px 58px !important;
        font-size: 22px !important;
    }
    header{
        min-height: 40vh !important;
    }
    .maintext{
        padding: 10rem 15rem !important;
    }
    #mainheading{
        font-size: 60px !important;
    }
    #mainpara{
        font-size: 26px !important;
    }
    #linkbtn{
        padding: 18px 58px !important;
        font-size: 24px !important;
    }
    #linkpara{
        font-size: 26px !important;
    }
    .container{
        padding: 0 15rem !important;
        gap: 15rem !important;
    }
    #firstsectionmainheading{
        font-size: 55px !important;
    }
    #firstsectionmainpara{
        font-size: 26px !important;
    }
    .box1, .box2, .box3, .box4{
        width: 400px !important;
        height: 306px !important;
    }
    #box1heading,
    #box2heading,
    #box3heading,
    #box4heading{
        font-size: 30px !important;
        line-height: 33px !important;
    }
    #box1para,
    #box2para,
    #box3para,
    #box4para{
        font-size: 26px !important;
    }
    .container7{
        padding: 0 15rem !important;
        gap: 15rem !important;
    }
    .ratingcard{
        width: 1000px !important;
        height: 440px !important;
    }
    #cardpersonname{
        font-size: 30px !important;
    }
    #cardpersonpara{
        font-size: 26px !important;
    }
    #cardpara{
        font-size: 24px !important;
    }
    #groupimg{
        max-width: 100% !important;
    }
    #sixthsection{
        padding: 0 30rem !important;
    }
    .bigbox{
        padding: 5rem 10rem !important;
    }
    #boxmainpara1{
        font-size: 26px !important;
    }
    #boxmainpara2{
        font-size: 26px !important;
    }
    .footerlogoimg{
        width: 15% !important;
    }
    #footerlogo{
        max-width: 50% !important;
    }
    .services{
        font-size: 24px !important;
        width: 15% !important;
    }
    #services{
        font-size: 26px !important;
    }
    .bms{
        width: 15% !important;
        font-size: 24px !important;
    }
    #bms{
        font-size: 26px !important;
    }
    .assurance{
        width: 15% !important;
        font-size: 24px !important;
    }
    #assurance{
        font-size: 26px !important;
    }
    .industries{
        width: 15% !important;
        font-size: 24px !important;
    }
    #industries{
        font-size: 26px !important;
    }
    .possystem{
        width: 15% !important;
        font-size: 24px !important;
    }
    #possystem{
        font-size: 26px !important;
    }
}
html,body{
    overflow-x: hidden;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* outline: 2px solid red !important; */
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 5rem;
    border-bottom: 2px solid #F0F1FF;
}

#mainlogo {
    max-width: 10%;
    height: auto;
    display: block;
}

#navlink {
    display: flex;
    gap: 2rem;
    list-style: none;
}

#navlink a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #090F4E;
}

.btn {
    padding: 12px 18px;
    border: none;
    background-color: #084CFF;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.hamburger {
    display: none;
}
#sidebarlinks li{
    list-style: none;
    border-bottom: 1px solid rgb(164, 165, 171);
    padding: 1rem;
}
#sidebarlinks a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #090F4E;
    margin-bottom: 1rem;
}
.sidebar{
    position: fixed;
    display:  none;
    justify-content: flex-start;
    gap: 2rem;
    width: 100%;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 999;
    background-color: white;
    flex-direction: column;
    overflow-y: auto;
    padding: 2rem 0;
}
.hidebtn{
    padding: 0 1rem;
    font-size: 1.5rem;
}
.sidebarbutton{
    padding: 0 1rem;
}
.sidebarbtn{
    padding: 12px 18px;
    border: none;
    background-color: #084CFF;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 16px;
}
header {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.40) 0%), url(/assets/bmsheader.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: repeat;
}

.maintext {
    padding: 10rem 8rem;
}

#mainheading {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 113.99999999999999%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 1rem;
}

#mainpara {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 113.99999999999999%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 1);

}

.linkbtn {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

#linkbtn {
    padding: 12px 48px;
    border: none;
    border-radius: 8px;
    background-color: rgba(41, 63, 204, 1);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

#linkpara {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

#firstsection {
    padding: 5rem 0 2rem;
}

.container {
    display: flex;
    padding: 0 5rem;
    justify-content: space-around;
    gap: 1rem;
}

#firstsectionmainheading {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: capitalize;
}

#firstsectionmainpara {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.37px;
    color: rgba(84, 83, 83, 1);
    margin-top: 1rem;
}
.sections{
    display: flex;
    gap: 1rem !important;
}
.box1,
.box2,
.box3,
.box4 {
    width: 309px;
    height: 266px;
    border-radius: 10px;
    border-width: 1px;
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 1);
    padding: 1rem;
    border: 1px solid rgba(217, 217, 217, 1);

}

#box1img {
    max-width: 100%;
    height: auto;
}

#box1heading {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 23.77px;
    letter-spacing: -0.37px;
    vertical-align: middle;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

#box1para {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
    color: rgba(84, 83, 83, 1);

}

#box3img {
    max-width: 100%;
    height: auto;
}

#box3heading {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 23.77px;
    letter-spacing: -0.37px;
    vertical-align: middle;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#box3para {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
    color: rgba(84, 83, 83, 1);
}

#box2img {
    max-width: 100%;
    height: auto;
}

#box2heading {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 23.77px;
    letter-spacing: -0.37px;
    vertical-align: middle;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#box2para {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
    color: rgba(84, 83, 83, 1);
}

#box4img {
    max-width: 100%;
    height: auto;
}

#box4heading {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 23.77px;
    letter-spacing: -0.37px;
    vertical-align: middle;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#box4para {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
    color: rgba(84, 83, 83, 1);
}
#fifthsection{
    padding: 5rem 0;
}
.container7{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8rem;
}
.ratingcard {
    width: 490px;
    height: 330px;
    border-radius: 10px;
    border: 1px solid rgba(217, 217, 217, 1);
    padding: 2rem 1.5rem;
}
#ratingcardimg{
    max-width: 13%;
    height: auto;
    display: block;
    border-radius: 132px;
    margin-bottom: .5rem;
}
#cardpersonname{
    font-size: 15px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: rgba(38, 46, 38, 1);
    margin-bottom: .2rem;
}
#cardpersonpara{
    font-size: 15.4px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: rgba(111, 111, 111, 1);
}
#starsimg{
    max-width: 100%;
    display: block;
    height: auto;
    margin-top: 1rem;
}
#cardpara{
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    margin-top: 2rem;
    color: rgba(111, 111, 111, 1);
}
#groupimg{
    max-width: 90%;
    height: auto;
    display: block;
}
#sixthsection{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #090F4E 50%);
    padding: 0 10rem;

}
.bigbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem;
    gap: 10rem;
    background-color: rgba(41, 63, 204, 1);
    border-radius: 29.49px;
}
#container3mainimage{
    max-width: 120%;
    height: auto;
    display: block;
    border-radius: 132px;
}
#boxmainheading{
    font-size: 57.3px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}
#boxmainpara1{
    font-size: 15.4px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}
#boxmainpara2{
    font-size: 15.4px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}
.calculatebtn{
    padding: 12px 18px;
    border: none;
    border-radius: 8.04px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgba(41, 63, 204, 1);
    margin-top: 2rem;
    cursor: pointer;
}
footer{
    border-top: 1px solid rgba(128, 128, 128, 0.429);
    background-color: rgba(9, 15, 78, 1);
}
.container4{
    padding: 8rem 6rem 5rem;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 4rem;
}
.footerlogoimg{
    width: 20%;
}
#footerlogo{
    max-width: 100%;
    display: block;
    height: auto;
}
.services{
    width: 25%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
}
#services{
    font-weight: 400;
    font-size: 14px;
}
#servicep1,
#servicep2,
#servicep3,
#servicep4,
#servicep5{
    margin-top: 1rem;
}
.bms{
    width: 20%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
}
#bms{
    font-size: 14px;
    font-weight: 400;
}
#bmsp1,
#bmsp2,
#bmsp3,
#bmsp4{
    margin-top: 1rem;
}
.assurance{
    width: 15%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
}
#assurance{
    font-size: 14px;
    font-weight: 400;
}
#assurancep1,
#assurancep2,
#assurancep3,
#assurancep4{
    margin-top: 1rem;
}
.industries{
    width: 15%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
}
#industries{
    font-size: 14px;
    font-weight: 400;
}
#industriesp1,
#industriesp2,
#industriesp3,
#industriesp4{
    margin-top: 1rem;
}
.possystem{
    width: 15%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
}
#possystem{
    font-size: 14px;
    font-weight: 400;
}
#possystemp1,
#possystemp2{
    margin-top: 1rem;
}