@media (min-width: 200px) and (max-width: 767px) {
    #navlink {
        display: none !important;
    }

    .navlinks {
        display: none !important;
    }

    .btn {
        display: none !important;
    }

    .mainbutton {
        display: none !important;
    }

    nav {
        justify-content: space-between !important;
        padding: 1rem !important;
        width: 100% !important;
        gap: 7rem !important;
    }

    #mainlogo {
        max-width: 30% !important;
    }

    .hamburger {
        display: block !important;
    }

    #headerimg1,
    #headerimg2,
    #headerimg3,
    #headerimg4 {
        display: none !important;
    }

    .maintext {
        padding: 0 1rem !important;
        margin-top: 5rem !important;
    }

    #mainheading br {
        display: none !important;
    }

    #mainpara br {
        display: none !important;
    }

    #mainheading {
        font-size: 36px !important;
    }

    #mainpara {
        font-size: 16px !important;
    }

    #mainpara2 {
        font-size: 16px !important;
    }
    #firstsection{
        padding: 4rem 0 !important;
    }
    #firstsectionmainheading{
        padding-left: 0 !important;
    }
    #firstsectionmainpara{
        padding-left: 0 !important;
    }
    .container{
        flex-direction: column !important;
        padding: 0 1rem !important;
        gap: 2rem !important;
    }
    .box1, .box2, .box3 {
        width: 100% !important;
        height: 360px !important;
    } 
    .box4{
        height: 280px !important;
        width: 100% !important;
    }
    #box1para1{
        font-size: 16px !important;
    }
    #box1para2{
        font-size: 16px !important;
    }
    #box2para1,
    #box2para2{
        font-size: 16px !important;
    }
    #box3para1,
    #box3para2{
        font-size: 16px !important;
    }
    #box4para1{
        font-size: 16px !important;
    }
    .options{
        flex-direction: column !important;
        padding: 0 1rem !important;
    }
    .ratingcard{
        width: 280px !important;
    }
    #ratingcardimg{
        max-width: 26% !important;
    }
    #groupimg{
        max-width: 100% !important;
    }
    #sixthsection{
        padding: 1rem !important;
    }
    .bigbox{
        flex-direction: column !important;
        padding: 2rem 1rem !important;
        width: 100% !important;
        gap: 2rem !important;
    }
    #boxmainheading{
        font-size: 40px !important;
    }
    .container4{
        padding: 1rem !important;
        justify-content: flex-start !important;
        flex-wrap: wrap !important;
    }
    .container7{
        padding: 0 1rem !important;
        flex-direction: column !important;
    }
    .footerlogoimg{
        width: 30% !important;
    }
    .bms{
        width: 30% !important;
    }
    .industries{
        width: 30% !important;
    }
}
    @media (min-width: 768px) and (max-width: 1023px){
    #navlink {
        display: none !important;
    }

    .navlinks {
        display: none !important;
    }

    .btn {
        display: none !important;
    }

    .mainbutton {
        display: none !important;
    }

    nav {
        justify-content: space-between !important;
        padding: 1rem 5rem !important;
        width: 100% !important;
        gap: 7rem !important;
    }

    #mainlogo {
        max-width: 13% !important;
    }

    .hamburger {
        display: block !important;
    }
    .sidebar{
        width: 50% !important;
    }
    #headerimg1{
        left: 86px !important;
    }
    #headerimg2{
        top: 208px !important;
        left: 634px !important;
    }
    #headerimg3{
        left: 636px !important;
    }
    #headerimg4{
        left: 30px !important;
    }
    .container{
        flex-direction: column !important;
        padding: 0 5rem !important;
    }
    #firstsectionmainheading{
        padding-left: 0 !important;
    }
    #firstsectionmainpara{
        padding-left: 0 !important;
    }
    .options{
        padding: 0 5rem !important;
    }
    #option3para br{
        display: none !important;
    }
    #option3para{
        font-size: 18px !important;
    }
    #secondsectionimg1,
    #secondsectionimg2{
        max-width: 70% !important;
    }
    .ratingcard{
        height: 260px !important;
    }
    #sixthsection{
        padding: 5rem 5rem 0 !important;
    }
    .bigbox{
        padding: 1rem !important;
    }
    #boxmainheading{
        font-size: 30px !important;
    }
    .container4{
        padding: 5rem !important;
        justify-content: flex-start !important;
        flex-wrap: wrap !important;
    }
    .container7{
        padding: 0 5rem !important;
    }
    }
    @media (min-width: 1024px) and (max-width: 1350px) {
        nav{
            padding: 1rem 2rem !important;
        }
        #headerimg1{
            left: 186px !important;
        }
        #headerimg2{
            left: 920px !important;
        }
        #headerimg3{
            top: 580px !important;
            left: 746px !important;
        }
        #headerimg4{
            top: 550px !important;
            left: 70px !important;
        }
        #firstsectionmainheading{
            padding-left: 0 !important;
        }
        #firstsectionmainpara{
            padding-left: 0 !important;
        }
        .box1, .box2, .box3, .box4{
            width: 490px !important;
        }
        .options{
            padding: 0 5rem !important;
        }
        #secondsectionimg1,
        #secondsectionimg2{
            max-width: 70% !important;
        }
        #option3para,
        #option2para,
        #option1para{
            font-size: 16px !important;
        }
        #option3para br{
            display: none !important;
        }
        .container7{
            padding: 0rem 5rem !important;
        }
        #sixthsection{
            padding: 0 5rem !important;
        }
        .container4{
        padding: 8rem 3rem 5rem !important;
    }
    .services{
        font-size: 12px !important;
    }
    .bms{
        font-size: 12px !important;
    }
    .assurance{
        font-size: 12px !important;
    }
    .industries{
        font-size: 12px !important;
    }
    .possystem{
        font-size: 12px !important;
    }
    }
    @media (min-width: 1441px) and (max-width: 2560px){
        #navlink a{
        font-size: 23px !important;
    }
    .btn{
        padding: 16px 58px !important;
        font-size: 22px !important;
    }
    #mainheading{
        font-size: 60px !important;
    }
    #mainpara{
        font-size: 26px !important;
    }
    #mainpara2{
        font-size: 26px !important;
    }
    #headerimg1{
        top: 206px !important;
        left: 636px !important;
    }
    #headerimg2{
        top: 288px !important;
        left: 2044px !important;
    }
    #headerimg3{
        top: 640px !important;
        left: 1856px !important;
    }
    #headerimg4{
        top: 580px !important;
        left: 570px !important;
    }
    .container{
        padding: 0 10rem !important;
        gap: 5rem !important;
    }
    #firstsectionmainheading{
        font-size: 55px !important;
    }
    #firstsectionmainpara{
        font-size: 26px !important;
    }
    .box1, .box2, .box3, .box4 {
        width: 750px !important;
        height: 300px !important;
    }
    #numberheadingbox1,
    #numberheading2,
    #numberheading3,
    #numberheading4{
        font-size: 24px !important;
    }
    #box1heading,
    #box2heading,
    #box3heading,
    #box4heading{
        font-size: 30px !important;
        margin-bottom: .5rem !important;
    }
    #box1para1,
    #box1para2,
    #box2para1,
    #box2para2,
    #box3para1,
    #box3para2,
    #box4para{
        font-size: 26px !important;
        margin-bottom: .5rem !important;
        line-height: 30px !important;
    }
    #optionsheading{
        font-size: 55px !important;
    }
    #optionspara{
        font-size: 26px !important;
    }
    #option1para, #option2para, #option3para{
        font-size: 22px !important;
    }
    .container7{
        padding: 0 15rem !important;
        gap: 15rem !important;
    }
    .ratingcard{
        width: 1000px !important;
        height: 440px !important;
    }
    #cardpersonname{
        font-size: 30px !important;
    }
    #cardpersonpara{
        font-size: 26px !important;
    }
    #cardpara{
        font-size: 24px !important;
    }
    .groupimage{
        width: 70% !important;
    }
    #groupimg{
        max-width: 100% !important;
    }
    #sixthsection{
        padding: 0 18rem !important;
    }
    .bigbox{
        padding: 5rem 10rem !important;
    }
    #boxmainpara1{
        font-size: 26px !important;
    }
    #boxmainpara2{
        font-size: 26px !important;
    }
    .footerlogoimg{
        width: 15% !important;
    }
    #footerlogo{
        max-width: 50% !important;
    }
    .services{
        font-size: 20px !important;
        width: 15% !important;
    }
    #services{
        font-size: 22px !important;
    }
    .bms{
        width: 15% !important;
        font-size: 20px !important;
    }
    #bms{
        font-size: 22px !important;
    }
    .assurance{
        width: 15% !important;
        font-size: 20px !important;
    }
    #assurance{
        font-size: 22px !important;
    }
    .industries{
        width: 15% !important;
        font-size: 20px !important;
    }
    #industries{
        font-size: 22px !important;
    }
    .possystem{
        width: 15% !important;
        font-size: 20px !important;
    }
    #possystem{
        font-size: 22px !important;
    }
    }
html,body{
    overflow-x: hidden;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* outline: 2px solid red !important; */
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 5rem;
    border-bottom: 2px solid #F0F1FF;
}

#mainlogo {
    max-width: 10%;
    height: auto;
    display: block;
}

#navlink {
    display: flex;
    gap: 2rem;
    list-style: none;
}

#navlink a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #090F4E;
}

.btn {
    padding: 12px 18px;
    border: none;
    background-color: #084CFF;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.hamburger {
    display: none;
    font-size: 1.5rem !important;
}
#sidebarlinks li{
    list-style: none;
    border-bottom: 1px solid rgb(164, 165, 171);
    padding: 1rem;
}
#sidebarlinks a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #090F4E;
    margin-bottom: 1rem;
}
.sidebar{
    position: fixed;
    display:  none;
    justify-content: flex-start;
    gap: 2rem;
    width: 100%;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 999;
    background-color: white;
    flex-direction: column;
    overflow-y: auto;
    padding: 2rem 0;
}
.hidebtn{
    padding: 0 1rem;
    font-size: 1.5rem;
}
.sidebarbutton{
    padding: 0 1rem;
}
.sidebarbtn{
    padding: 12px 18px;
    border: none;
    background-color: #084CFF;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 16px;
}
#headerimg1,
#headerimg2,
#headerimg3,
#headerimg4 {
    max-width: 8%;
    height: auto;
    position: absolute;
}

.maintext {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 13rem;
}

#mainheading {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: .5rem;

}

#mainpara {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 113.99999999999999%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    color: #545353;
    margin-bottom: 1.5rem;
}

#mainpara2 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #0048FE;

}

#headerimg1 {
    top: 156px;
    left: 396px;
}

#headerimg2 {
    top: 248px;
    left: 1084px;
}

#headerimg3 {
    top: 550px;
    left: 1026px;
}

#headerimg4 {
    top: 500px;
    left: 220px;
}

#firstsection {
    padding: 13rem 0 3rem;
}

.container {
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    gap: 6rem;
}

.box1,
.box2,
.box3,
.box4 {
    width: 580px;
    height: 240px;
    border-radius: 10px;
    background-color: #F0F1FF;
    margin-top: 1rem;
    padding: 1.5rem;

}

#firstsectionmainheading {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: capitalize;
    padding-left: 4rem;

}

#firstsectionmainpara {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.37px;
    color: #545353;
    padding-left: 4rem;
    margin-top: .5rem;

}

.box1option1 {
    display: flex;
    align-items: center;
    gap: .7rem;
    padding-left: 1rem;
}

.box1option2 {
    display: flex;
    align-items: center;
    gap: .7rem;
    padding-left: 1rem;
}

#numberheadingbox1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 23.77px;
    letter-spacing: -0.37px;
    vertical-align: middle;
    color: #293FCC;

}

#box1heading {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 23.77px;
    letter-spacing: -0.37px;
    vertical-align: middle;
    margin-top: 1rem;
}

.box1option1 i {
    font-size: 7px;
    color: #545353;
}

.box1option2 i {
    font-size: 7px;
    color: #545353;
}

#box1para1 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #545353;
    margin-top: .5rem;


}

#box1para2 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #545353;
    margin-top: .5rem;


}

#numberheading2 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 23.77px;
    letter-spacing: -0.37px;
    vertical-align: middle;
    color: #293FCC;
}

.box2option1 {
    display: flex;
    align-items: center;
    gap: .7rem;
    padding-left: 1rem;
}

.box2option2 {
    display: flex;
    align-items: center;
    gap: .7rem;
    padding-left: 1rem;
}

.box2option1 i {
    font-size: 7px;
    color: #545353;
}

.box2option2 {
    font-size: 7px;
    color: #545353;
}

#box2heading {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 23.77px;
    letter-spacing: -0.37px;
    vertical-align: middle;
    margin-top: 1rem;
}

#box2para1 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #545353;
    margin-top: .5rem;
}

#box2para2 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #545353;
    margin-top: .5rem;
}

#numberheading3 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 23.77px;
    letter-spacing: -0.37px;
    vertical-align: middle;
    color: #293FCC;
}

#box3heading {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 23.77px;
    letter-spacing: -0.37px;
    vertical-align: middle;
    margin-top: 1rem;
}

.box3option1 {
    display: flex;
    align-items: center;
    gap: .7rem;
    padding-left: 1rem;
}

.box3option2 {
    display: flex;
    align-items: center;
    gap: .7rem;
    padding-left: 1rem;
}

.box3option1 i {
    font-size: 7px;
    color: #545353;
}

.box3option2 i {
    font-size: 7px;
    color: #545353;
}

#box3para1 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #545353;
    margin-top: .5rem;
}

#box3para2 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #545353;
    margin-top: .5rem;
}

#numberheading4 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 23.77px;
    letter-spacing: -0.37px;
    vertical-align: middle;
    color: #293FCC;
}

#box4heading {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 23.77px;
    letter-spacing: -0.37px;
    vertical-align: middle;
    margin-top: 1rem;
}

.box4option1 {
    display: flex;
    align-items: center;
    gap: .7rem;
    padding-left: 1rem;
}

.box4option1 i {
    font-size: 7px;
    color: #545353;
}

#box4para1 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #545353;
    margin-top: .5rem;
}

#secondsection {
    background-color: #F0F1FB;
    padding: 5rem 0;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 0 10rem;
}

#optionsheading {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}

#optionspara {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.37px;
    text-align: center;
    color: #545353;
}

#secondsectionimg1 {
    max-width: 50%;
    height: auto;
}

#secondsectionimg2 {
    max-width: 50%;
    height: auto;
}

#secondsectionimg3 {
    max-width: 50%;
    height: auto;
}

#option1para,
#option2para,
#option3para {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 113.99999999999999%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    color: #545353;

}

.option1,
.option2,
.option3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#fifthsection{
    padding: 5rem 0;
}
.container7{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8rem;
}
.ratingcard {
    width: 490px;
    height: 330px;
    border-radius: 10px;
    border: 1px solid rgba(217, 217, 217, 1);
    padding: 2rem 1.5rem;
}
#ratingcardimg{
    max-width: 13%;
    height: auto;
    display: block;
    border-radius: 132px;
    margin-bottom: .5rem;
}
#cardpersonname{
    font-size: 15px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: rgba(38, 46, 38, 1);
    margin-bottom: .2rem;
}
#cardpersonpara{
    font-size: 15.4px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: rgba(111, 111, 111, 1);
}
#starsimg{
    max-width: 100%;
    display: block;
    height: auto;
    margin-top: 1rem;
}
#cardpara{
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    margin-top: 2rem;
    color: rgba(111, 111, 111, 1);
}
#groupimg{
    max-width: 90%;
    height: auto;
    display: block;
}
#sixthsection{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #090F4E 50%);
    padding: 0 10rem;

}
.bigbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem;
    gap: 10rem;
    background-color: rgba(41, 63, 204, 1);
    border-radius: 29.49px;
}
#container3mainimage{
    max-width: 120%;
    height: auto;
    display: block;
    border-radius: 132px;
}
#boxmainheading{
    font-size: 57.3px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}
#boxmainpara1{
    font-size: 15.4px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}
#boxmainpara2{
    font-size: 15.4px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}
.calculatebtn{
    padding: 12px 18px;
    border: none;
    border-radius: 8.04px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgba(41, 63, 204, 1);
    margin-top: 2rem;
    cursor: pointer;
}
footer{
    border-top: 1px solid rgba(128, 128, 128, 0.429);
    background-color: rgba(9, 15, 78, 1);
}
.container4{
    padding: 8rem 6rem 5rem;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 4rem;
}
.footerlogoimg{
    width: 20%;
}
#footerlogo{
    max-width: 100%;
    display: block;
    height: auto;
}
.services{
    width: 25%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
}
#services{
    font-weight: 400;
    font-size: 14px;
}
#servicep1,
#servicep2,
#servicep3,
#servicep4,
#servicep5{
    margin-top: 1rem;
}
.bms{
    width: 20%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
}
#bms{
    font-size: 14px;
    font-weight: 400;
}
#bmsp1,
#bmsp2,
#bmsp3,
#bmsp4{
    margin-top: 1rem;
}
.assurance{
    width: 15%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
}
#assurance{
    font-size: 14px;
    font-weight: 400;
}
#assurancep1,
#assurancep2,
#assurancep3,
#assurancep4{
    margin-top: 1rem;
}
.industries{
    width: 15%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
}
#industries{
    font-size: 14px;
    font-weight: 400;
}
#industriesp1,
#industriesp2,
#industriesp3,
#industriesp4{
    margin-top: 1rem;
}
.possystem{
    width: 15%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
}
#possystem{
    font-size: 14px;
    font-weight: 400;
}
#possystemp1,
#possystemp2{
    margin-top: 1rem;
}