* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 5rem;
    border-bottom: 2px solid #F0F1FF;
}

#mainlogo {
    max-width: 10%;
    height: auto;
    display: block;
}

#navlink {
    display: flex;
    gap: 2rem;
    list-style: none;
}

#navlink a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #090F4E;
}

.btn {
    padding: 12px 18px;
    border: none;
    background-color: #084CFF;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.hamburger {
    display: none;
}

.backbutton a {
    display: flex;
    align-items: center;
    padding: 3rem 0rem 0 10rem;
    text-decoration: none;
    color: rgba(30, 30, 30, 1);
    gap: .5rem;
    width: 1%;
}

#backbtnpara {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

#firstsection {
    padding: 0 5rem 2rem;
}

.container {
    padding: 3rem 2rem;
    border: 1px solid rgba(171, 173, 172, 1);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;

}

#mainheading {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: capitalize;
}

.box1 {
    width: 434px;
    height: 318px;
    top: 24px;
    left: 33px;
    border-radius: 8px;
    background-color: rgba(41, 63, 204, 0.06);
    padding: 1rem;
}

#box1heading {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 1rem;

}

label {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;

}

.plantypeinput {
    display: flex;
    flex-direction: column;
}

#plantype {
    width: 300px;
    height: 46px;
    border-width: 2px;
    padding: 0 1rem;
    font-size: 16px;
    border: 2px solid rgba(171, 173, 172, 1);
    margin-top: 1rem;
    color: rgba(187, 188, 190, 1);
}

.smallbox1 {
    width: 230px;
    height: 180px;
    angle: 0 deg;
    opacity: 1;
    top: 34px;
    left: 633px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border: solid rgba(41, 63, 204, 1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

#smallbox1mainpara {
    text-align: center;
    padding: .7rem;
    background-color: rgba(41, 63, 204, 1);
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;

}

.smallbox1option1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem .3rem;
}

#option1para1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: Medium;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;

}

#option1para2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: Medium;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
}

.smallbox1option2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding: 0 .3rem;
}

#option2para1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: Medium;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
}

#option2para2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: Medium;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
}

.smallbox1option3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem .3rem;
}

#option3para1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: Medium;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
}

#option3para2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: Medium;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
}

.smallbox2 {
    width: 230px;
    height: 180px;
    angle: 0 deg;
    opacity: 1;
    top: 34px;
    left: 633px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border: solid;
    border-color: rgba(41, 63, 204, 1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#smallbox2mainpara {
    text-align: center;
    padding: .7rem;
    background-color: rgba(41, 63, 204, 1);
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.smallbox2option1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem .3rem;
}

#box1para1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: Medium;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
}

#box1para2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: Medium;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
}

.smallbox2option2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .3rem;
}

#box2para1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: Medium;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
}

#box2para2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: Medium;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
}

.smallbox2option3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem .3rem;
}

#box3para1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: Medium;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
}

#box3para2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: Medium;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
}

#secondsection {
    padding: 0 5rem 3rem;
}

.container1 {
    padding: 3rem 2rem;
    border: 1px solid rgba(171, 173, 172, 1);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.box2 {
    width: 434px;
    height: 264px;
    border-radius: 8px;
    background-color: rgba(41, 63, 204, 0.06);
    padding: 1rem;

}
#box2heading{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 1rem;
}